<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Your Name:" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Create a Username" %><br>
    <%= f.text_field :username %>
  </div>

  <%= form_for(@team) do |a| %>

  <%# Create 2 label options - for new, edit %>

    <div class="field">
      <%= a.label "Join an Existing Team:" %><br>
      <!-- <%= select(:team, :id, Team.all.map { |t| [t.name, t.name] }) %> -->
      <ul>
      <% @teams.each do |team| %>
        <%= a.radio_button :id, team.id %>  <%= team.name %><br>
      <% end %>
      </ul>
    </div>


 <p>Otherwise, create a new team for your group</p>

  <div class="field">
    <%= a.label :name %><br>
    <%= a.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit && a.submit %>

  </div>
  <% end %>
<% end %>
