<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team.name %>
</p>

<%= link_to 'Back', root_path %> (This back button requires you to log in again....)
