<h1>Welcome to Pollr!</h1>

<p>If you're new, you can <%= link_to "Register", new_user_path %></p>

<hr>

<p>If you're an exsting user, log in:



  <%= form_tag("/users/dashboard", method: "post") do %>
    <%= label_tag(:u, "Username:") %>
    <%= text_field_tag(:username) %>
    <%= submit_tag("  Go   ") %>
  <% end %>

<hr>
