<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>

<p>

<% @results.each do |results| %>
  <%= results.candidate %> - <%= results.votes %> votes<br>
<% end %>


<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
